<div *ngIf='isDataLoaded'>
    <h1>
        {{apartment.title}}
    </h1>

    <img *ngIf='apartment.image' src="{{apartment.image}}" />

    <table class="table table-bordered table-striped table-hover">
        <tr>
            <td>ID</td>
            <td>{{apartment.id}}</td>
        </tr>

        <tr>
            <td>Street</td>
            <td> {{apartment.street}}</td>
        </tr>
        <tr>
            <td>Town</td>
            <td> {{apartment.town}}</td>
        </tr>
        <tr>
            <td>City</td>
            <td> {{apartment.city}}</td>
        </tr>
        <tr>
            <td>Country</td>
            <td> {{apartment.country}}</td>
        </tr>
        <tr>
            <td>Move In Date</td>
            <td> {{apartment.moveInDate}}</td>
        </tr>
        <tr>
            <td>Email</td>
            <td> {{apartment.email}}</td>
        </tr>
    </table>