.wrapper {
    margin: 100px 0;
    .container {
        max-width: 1170px;
        margin: 0 auto;
    }
    .spinner {
        position: absolute;
        margin: 0 auto;
        left: 50%;
        right: 50%;
    }
}