<div class="grid">
    <mat-spinner class="spinner" *ngIf='!isDataLoaded' [diameter]=50 [strokeWidth]=5></mat-spinner>
</div>

<div *ngIf='isDataLoaded'>
    <div class="grid">
        <div class="col-4" *ngFor="let apartment of apartments.data">

            <mat-card>
                <mat-card-header>
                    <mat-card-title>{{apartment.title}}</mat-card-title>
                    <mat-card-subtitle>City: {{apartment.city}}</mat-card-subtitle>
                </mat-card-header>
                <img mat-card-image src="{{!!apartment.thumb ? apartment.thumb : 'assets/img/placeholder.png'}}" alt="" />

                <mat-card-content>
                    <a mat-button color="primary" routerLink='/apartments/show/{{apartment.id}}'>View Info</a>
                </mat-card-content>

            </mat-card>
        </div>
    </div>

    <mat-paginator *ngIf='!next_page_url || !last_page_url' [length]="apartments.total" [pageIndex]="apartments.current_page-1" [pageSize]="apartments.per_page" (page)="paginate($event)">
    </mat-paginator>

</div>