<div *ngIf='isDataLoaded'>


    <div *ngIf="thumb">
        <div class="grid">
            <div class="col-4">
                <mat-card>
                    <img mat-card-image src="{{thumb}}" alt="" />
                </mat-card>
            </div>
        </div>
    </div>

    <div class="grid" *ngIf="!successResponse; else successMessage">
        <div class="col-7 ">
            <form [formGroup]="rForm" (ngSubmit)="saveApartment(rForm.value)" class="form-horizontal">

                <div class="example-container">

                    <div class="my-4">
                        <input #fileInput type="file" />
                    </div>
                    <mat-form-field>
                        <input matInput placeholder="Title" formControlName="title" required>
                        <mat-error *ngIf="!vs.validField(rForm,'title')">{{ vs.validationMessage(rForm,'title')}}</mat-error>
                    </mat-form-field>

                    <mat-form-field>
                        <textarea matInput placeholder="Description" formControlName="content"></textarea>
                        <mat-error *ngIf="!vs.validField(rForm,'content')">{{ vs.validationMessage(rForm,'content','You must specify a description thats between 3 and 500 characters.')}}</mat-error>
                    </mat-form-field>


                    <div class="grid grid-spaceBetween">
                        <mat-form-field class="col-6_sm-12">
                            <input matInput placeholder="Street" formControlName="street" required>
                            <mat-error *ngIf="!vs.validField(rForm,'street')">{{ vs.validationMessage(rForm,'street')}}</mat-error>
                        </mat-form-field>

                        <mat-form-field class="col-6_sm-12">
                            <input matInput placeholder="Town" formControlName="town" required>
                            <mat-error *ngIf="!vs.validField(rForm,'town')">{{ vs.validationMessage(rForm,'town')}}</mat-error>
                        </mat-form-field>
                    </div>

                    <div class="grid grid-spaceBetween">
                        <mat-form-field class="col-6_sm-12">
                            <input matInput placeholder="City" formControlName="city" required>
                            <mat-error *ngIf="!vs.validField(rForm,'city')">{{ vs.validationMessage(rForm,'city')}}</mat-error>
                        </mat-form-field>

                        <mat-form-field class="col-6_sm-12">
                            <input matInput placeholder="Country" formControlName="country" required>
                            <mat-error *ngIf="!vs.validField(rForm,'country')">{{ vs.validationMessage(rForm,'country')}}</mat-error>
                        </mat-form-field>
                    </div>

                    <mat-form-field>
                        <input matInput placeholder="Email Address" formControlName="email" required>
                        <mat-error *ngIf="!vs.validField(rForm,'email')">{{ vs.validationMessage(rForm,'email')}}</mat-error>
                    </mat-form-field>

                    <div class="grid grid-spaceBetween">
                        <mat-form-field class="col-6_sm-12">
                            <input matInput placeholder="Postal Code" formControlName="postalCode" required>
                            <mat-error *ngIf="!vs.validField(rForm,'postalCode')">{{ vs.validationMessage(rForm,'postalCode')}}</mat-error>
                        </mat-form-field>

                        <mat-form-field class="col-6_sm-12">
                            <input matInput [matDatepicker]="picker" placeholder="Move In Date" formControlName="moveInDate">
                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker>
                            <mat-error *ngIf="!vs.validField(rForm,'moveInDate')">{{ vs.validationMessage(rForm,'moveInDate')}}</mat-error>
                        </mat-form-field>
                    </div>
                </div>
                <button mat-raised-button type="submit" color="primary" [disabled]="!rForm.valid || this.loading">Save</button>
                <mat-spinner class="spinner" *ngIf='this.loading' [diameter]=25 [strokeWidth]=3></mat-spinner>
            </form>
        </div>
    </div>


    <ng-template #successMessage>
        <div class="mt-5">
            <h1>Great!</h1>
            <p>Your apartment is saved.</p>
        </div>
    </ng-template>
</div>