<div class="row" *ngIf="!successResponse; else forminfo">
    <div class="col-md-7">
        <form [formGroup]="rForm" (ngSubmit)="saveApartment(rForm.value)" class="form-horizontal">
            <div class="row">
                <div class="col-md-12 mb-3">
                    <label for="title">Title</label>
                    <input type="text" class="form-control" id="title" placeholder="Title" type="text" formControlName="title" [ngClass]="checkValidation('title')">
                    <div class="invalid-feedback" *ngIf="checkValidation('title') == 'is-invalid'">
                        {{ validationMessage('title')}}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 mb-3">
                    <label for="textArea">Content</label>
                    <textarea class="form-control" rows="3" id="textArea" formControlName="content" [ngClass]="checkValidation('content')"></textarea>
                    <div class="invalid-feedback" *ngIf="checkValidation('content') == 'is-invalid'">
                        {{ validationMessage('content','You must specify a description thats between 30 and 500 characters.')}}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 mb-3">
                    <label for="street">Street</label>
                    <input type="text" class="form-control" id="street" placeholder="Street" type="text" formControlName="street" [ngClass]="checkValidation('street')">
                    <div class="invalid-feedback" *ngIf="checkValidation('street') == 'is-invalid'">
                        {{ validationMessage('street')}}
                    </div>
                </div>
                <div class="col-md-6 mb-3">
                    <label for="town">Town</label>
                    <input type="text" class="form-control" id="town" placeholder="Town" type="text" formControlName="town" [ngClass]="checkValidation('town')">
                    <div class="invalid-feedback" *ngIf="checkValidation('town') == 'is-invalid'">
                        {{ validationMessage('town')}}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 mb-3">
                    <label for="city">City</label>
                    <input type="text" class="form-control" id="city" placeholder="City" type="text" formControlName="city" [ngClass]="checkValidation('city')">
                    <div class="invalid-feedback" *ngIf="checkValidation('city') == 'is-invalid'">
                        {{ validationMessage('city')}}
                    </div>
                </div>
                <div class="col-md-6 mb-3">
                    <label for="country">Country</label>
                    <input type="text" class="form-control" id="country" placeholder="Country" type="text" formControlName="country" [ngClass]="checkValidation('country')">
                    <div class="invalid-feedback" *ngIf="checkValidation('country') == 'is-invalid'">
                        {{ validationMessage('country')}}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 mb-3">
                    <label for="email">Email</label>
                    <input type="text" class="form-control" id="email" placeholder="your-email@example.com" type="text" formControlName="email" [ngClass]="checkValidation('email')">
                    <div class="invalid-feedback" *ngIf="checkValidation('email') == 'is-invalid'">
                        {{ validationMessage('email')}}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 mb-3">
                    <label for="postalCode">Postal Code</label>
                    <input type="text" class="form-control" id="postalCode" placeholder="Postal Code" type="text" formControlName="postalCode" [ngClass]="checkValidation('postalCode')">
                    <div class="invalid-feedback" *ngIf="checkValidation('postalCode') == 'is-invalid'">
                        {{ validationMessage('postalCode')}}
                    </div>
                </div>
                <div class="col-md-6 mb-3">
                    <label for="title">Move In Date</label>
                    <input type="text" class="form-control" id="moveInDate" placeholder="" type="text" formControlName="moveInDate" [ngClass]="checkValidation('moveInDate')">
                    <div class="invalid-feedback" *ngIf="checkValidation('moveInDate') == 'is-invalid'">
                        {{ validationMessage('moveInDate')}}
                    </div>
                </div>
            </div>
            <input type="submit" class="btn btn-primary" value="Submit Form" [disabled]="!rForm.valid">
        </form>
    </div>
</div>

<ng-template #forminfo>
    <div class="mt-5">
        <h1>Great!</h1>
        <p>Your apartment is posted and and edit link has been sent to your entered email {{rForm.value.email}}</p>
    </div>
</ng-template>